* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

.dropdown-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.carousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}



.banner {
  width: 60%;
  height: auto;
}

.shgirl {
  width: 80%;
}

.voiceBtn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  color: black;
  background-color: rgb(66, 89, 219);
  z-index: 999;
  padding: 14px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 100%;
}

.voiceBtn:hover {
  background-color: #4a6bac;
  transform: scale(1.1);
  transition: ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: relative !important ;
  bottom: 0 !important;
}

.navbar-logo {
  max-width: 160px;
  cursor: pointer;
}

.logo-image {
  width: 100%;
  height: auto;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
