* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

/* .carousel {
  margin-left: 23%;
  width: 50%;
  height: 50%;
} */

.shopping {
  width: 70%;
}

.banner {
  width: 60%;
  height: auto;
}

.shgirl {
  width: 80%;
}

.voiceBtn {
  position: fixed;
  bottom: 80px; 
  right: 20px; 
  color: black;
  background-color: rgb(66, 89, 219);
  z-index: 999; 
  padding: 14px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 100%;
}

.voiceBtn:hover {
  background-color: #0056b3; 
  transform: scale(1.1);
  transition: ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: relative !important ;
  bottom: 0 !important;
}

.navbar-logo {
  max-width: 160px;
  cursor: pointer;
}

.logo-image {
  width: 100%;
  height: auto;
}
